body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* светлый бирюзовый фон */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00acc1;
    color: white;
    padding: 20px;
    text-align: center;
}

.top-bar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h1, h2 {
    margin: 10px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.grid img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

#gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border-radius: 8px;
}